@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #095e01;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adjust loader size for small devices */
@media (max-width: 768px) {
  .loader {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .loader {
    width: 50px;
    height: 50px;
  }
}
